/*
|------------------------------------------------------------
| Config
|------------------------------------------------------------
*/

// Set the global compass vars.
$browser-minimum-versions: ('ie': "8");

// Base settings
* {
	@include box-sizing(border-box);
}

html {
	overflow-y: scroll;
}

body {
	@extend %clearfix;
}

img {
	display: block;
	max-width: 100%;
}
