/*
|------------------------------------------------------------
| Variables
|------------------------------------------------------------
*/

//------MEDIA VARIABLES
$minWidth: 320px;
$phone--medium: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop--large: 1280px;

// Vertical rhythm
$base-font-size: 10px;
$base-line-height: 21px;
@include establish-baseline;

// Dimensions
// CONTAINER
$containerWidth: 1100px;
$containerWidth--desk-small: 960px;
$containerWidth--tablet: 700px;
$containerWidth--mobile: 360px;

// SPACING UNITS
$base-spacing-unit: 20px;

$border-radius-small: 5px;
$border-radius-medium: 10px;

// RGBAPNG backgroudn
$rgbapng_path: 'rgba_pngs';
$rgbapng_px_size: 3;

// Sprites
// $icons: sprite-map("icons/*.png", $spacing: 5px);

// Colors
$main-color: #9E914C;
$gray-color: #444;
$white: #FFF;
$off-white: rgba(230, 230, 230, 0.9);
$black: #000;
$light-gray: #CCC;
