/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/

// Placeholders
%clearfix {
    *zoom:1;
    &::before, &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}
%hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
%base-float {
	width: 100%;
	float: right;
}
%seam {
    clear: both;
    display: block;
    height: 0px;
    border-top: 1px solid rgba($black, .12);
    border-bottom: 1px solid rgba($white, .15);
}
%well {
    box-shadow: inset 0 1px 5px rgba($black, .14);
    border-radius: $border-radius-medium;
}
%off-white-well {
    @extend %well;
    background-color: $off-white;
}
%light-gray-well {
    @extend %well;
    background-color: $light-gray;
}

// Helper classes
.clearfix { @extend %clearfix; }
.clear { clear: both; }
.hide { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.fleft { float: left; }
.fright { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-hide { @extend %hide-text; }
.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }
.vertical-top { vertical-align: top; }
.vertical-middle { vertical-align: middle; }

.wrapper {
    @extend %clearfix;
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0;
}
