/*
|------------------------------------------------------------
| Typography
|------------------------------------------------------------
*/

/* @include font-face(
    "FontName",
    font-files(
        "FontName.woff",
        "FontName.ttf",
        "FontName.svg"),
    "FontName.eot"
); */

%main-font { font-family: ""; }
%main-font-bold { font-family: ""; }
%basic-font { font-family: Arial, Helvetica, sans-serif; }

html {
    font-size: 10px;
}

body {
    font-size: 100%;
    @extend %basic-font;
    @media (min-width: $tablet) and (max-width: $desktop - 1)  { font-size: 90%; }
    @media (min-width: $minWidth) and (max-width: $tablet - 1) { font-size: 80%; }
}

h1 {
    @include rem(4);
}
