//---------------BREAKPOINT MIXIN
@mixin breakpoint ( $value ) {
    @if $value == 'phone-only' {
        @media (min-width: $minWidth) and (max-width: $tablet - 1) { @content; }
    }

    @else if $value == 'tablet-only' {
        @media (min-width: $tablet) and (max-width: $desktop - 1) { @content; }
    }

    @else if $value == 'desktop-only' {
        @media (min-width: $desktop) { @content; }
    }

    @else if $value == 'to-desktop' {
        @media (min-width: $minWidth) and (max-width: $desktop - 1) { @content; }
    }

    @else {
        @media (max-width: $value) { @content; }
    }
}
