/*
|------------------------------------------------------------
| Rem mixin
|------------------------------------------------------------
*/

@mixin rem ( $size ) {
    // fallback in pixels
    font-size: round(( $size * $base-font-size ));
    font-size: $size + rem;
}